/* styles.css */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    display: grid;
    column-gap: 10rem;
    grid-template-columns: repeat(3, 1fr);
}

.form {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.select,
.file-input,
.button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.image-block {
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
}

.description {
    margin-top: 10px;
}

.color-palette {
    width: 200px;
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(2, 1fr);
}

.color-block {
    display: grid;
    justify-content: start;
}

.color {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 0;
}

img {
    max-width: 200px;
}

.models__item {
    margin: 10px 5px;
    display: block;
}
